In [1]:
import pandas as pd
from sqlalchemy import create_engine
from ast import literal_eval

In [2]:
csv_file = "../Resources/National Park Trail Data.csv"
trail_df = pd.read_csv(csv_file)
trail_df['_geoloc'] = trail_df['_geoloc'].astype('str').apply(literal_eval)
display(trail_df[trail_df['area_name'] == 'Clayton Co International Park, Jonesboro GA'])
display(trail_df[trail_df['area_name'] == 'Fort Hunt National Park'])
display(trail_df[trail_df['area_name'] == 'Wolf Trap National Park for the Performing Arts'])
trail_df.drop([1219,2475,2618,2629,2524],inplace=True)
trail_df.reset_index(inplace=True,drop=True)

replace_dict = {'Great Sand Dunes National Park and Preserve':'Great Sand Dunes National Park',
 'Congaree National Park Wilderness':'Congaree National Park',
 'Hawaii Volcanoes National Park':"Hawai'i Volcanoes National Park",}

trail_df.replace(replace_dict,inplace=True)

,trail_id,name,area_name,city_name,state_name,country_name,_geoloc,popularity,length,elevation_gain,difficulty_rating,route_type,visitor_usage,avg_rating,num_reviews,features,activities,units
1219,10259207,Clayton County International Park Trail,"Clayton Co International Park, Jonesboro GA",Jonesboro,Georgia,United States,"{'lat': 33.5312, 'lng': -84.31568}",4.7291,2574.944,36.8808,3,loop,1.0,4.0,26,"['dogs-leash', 'forest', 'kids', 'views', 'wil...","['birding', 'hiking', 'mountain-biking', 'natu...",i

,trail_id,name,area_name,city_name,state_name,country_name,_geoloc,popularity,length,elevation_gain,difficulty_rating,route_type,visitor_usage,avg_rating,num_reviews,features,activities,units
2475,10018025,Mount Vernon Trail,Fort Hunt National Park,Mount Vernon,Virginia,United States,"{'lat': 38.7108, 'lng': -77.08579}",12.0866,29611.856,188.9760,1,out and back,2.0,4.0,118,"['ada', 'dogs-leash', 'kids', 'paved', 'river'...","['birding', 'hiking', 'nature-trips', 'road-bi...",i
2618,10407795,Fort Hunt Park Main Loop,Fort Hunt National Park,Alexandria,Virginia,United States,"{'lat': 38.71518, 'lng': -77.05732}",1.8554,2092.142,9.7536,1,loop,2.0,4.0,4,"['dogs-leash', 'kids', 'paved', 'strollers']","['nature-trips', 'road-biking', 'walking']",i
2629,10407786,Fort Hunt Park Short Loop,Fort Hunt National Park,Alexandria,Virginia,United States,"{'lat': 38.71507, 'lng': -77.05733}",0.8215,1126.538,3.9624,1,loop,2.0,2.0,2,"['dogs-leash', 'kids', 'paved', 'strollers']","['nature-trips', 'road-biking', 'walking']",i

,trail_id,name,area_name,city_name,state_name,country_name,_geoloc,popularity,length,elevation_gain,difficulty_rating,route_type,visitor_usage,avg_rating,num_reviews,features,activities,units
2524,10257350,Wolf Trap Loop Trail,Wolf Trap National Park for the Performing Arts,Vienna,Virginia,United States,"{'lat': 38.93672, 'lng': -77.26292}",7.1119,2896.812,43.8912,1,loop,1.0,4.5,43,"['dogs-leash', 'forest', 'kids', 'river']","['hiking', 'nature-trips', 'walking']",i

In [22]:
trail_df.head()
trail_df.dtypes

trail_id               int64
name                  object
area_name             object
city_name             object
state_name            object
country_name          object
_geoloc               object
popularity           float64
length               float64
elevation_gain       float64
difficulty_rating      int64
route_type            object
visitor_usage        float64
avg_rating           float64
num_reviews            int64
features              object
activities            object
units                 object
dtype: object

In [4]:
features_df=trail_df[['trail_id','area_name','features']]

In [5]:
features_df['features'] = features_df['features'].astype('str').apply(literal_eval)
features_df = features_df.explode('features')

<ipython-input-5-f3a7cb2bf4fe>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_df['features'] = features_df['features'].astype('str').apply(literal_eval)

In [6]:
features_df.dropna(inplace=True)
features_df.reset_index(inplace=True, drop=True)
features_df.rename(columns={'area_name':'park_name'},inplace=True)

In [7]:
features_df.head()

   trail_id                   park_name   features
0  10020048  Kenai Fjords National Park    dogs-no
1  10020048  Kenai Fjords National Park     forest
2  10020048  Kenai Fjords National Park      river
3  10020048  Kenai Fjords National Park      views
4  10020048  Kenai Fjords National Park  waterfall

In [8]:
activities_df=trail_df[['trail_id','area_name','activities']]

In [9]:
activities_df['activities'] = activities_df['activities'].astype('str').apply(literal_eval)
activities_df = activities_df.explode('activities')
activities_df.dropna(inplace=True)
activities_df.reset_index(inplace=True, drop=True)
activities_df.rename(columns={'area_name':'park_name'},inplace=True)
activities_df.head()

<ipython-input-9-6185445fad29>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  activities_df['activities'] = activities_df['activities'].astype('str').apply(literal_eval)

   trail_id                   park_name     activities
0  10020048  Kenai Fjords National Park        birding
1  10020048  Kenai Fjords National Park        camping
2  10020048  Kenai Fjords National Park         hiking
3  10020048  Kenai Fjords National Park   nature-trips
4  10020048  Kenai Fjords National Park  trail-running

In [10]:
trail_df_clean = trail_df.drop(columns=['features','activities'])

In [11]:
trail_df_clean.head()

,trail_id,name,area_name,city_name,state_name,country_name,_geoloc,popularity,length,elevation_gain,difficulty_rating,route_type,visitor_usage,avg_rating,num_reviews,units
0,10020048,Harding Ice Field Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18852, 'lng': -149.63156}",24.8931,15610.598,1161.8976,5,out and back,3.0,5.0,423,i
1,10236086,Mount Healy Overlook Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73049, 'lng': -148.91968}",18.0311,6920.162,507.7968,3,out and back,1.0,4.5,260,i
2,10267857,Exit Glacier Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18879, 'lng': -149.631}",17.7821,2896.812,81.9912,1,out and back,3.0,4.5,224,i
3,10236076,Horseshoe Lake Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73661, 'lng': -148.915}",16.2674,3379.614,119.7864,1,loop,2.0,4.5,237,i
4,10236082,Triple Lakes Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73319, 'lng': -148.89682}",12.5935,29772.790,1124.7120,5,out and back,1.0,4.5,110,i

In [12]:
trail_df_clean['latitude'] = ''
trail_df_clean['longitude'] = ''
for i,row in trail_df_clean.iterrows():
    trail_df_clean.iloc[i,16] = trail_df_clean.iloc[i,6]['lat']
    trail_df_clean.iloc[i,17] = trail_df_clean.iloc[i,6]['lng']

In [13]:
trail_df_clean.drop(columns='_geoloc',inplace=True)

In [14]:
trail_df_clean.dropna(inplace=True,)

In [15]:
trail_df_clean.reset_index(inplace=True, drop=True)

In [16]:
trail_df_clean.rename(columns={'name':'trail_name','city_name':'city','area_name':'park_name','state_name':'state','country_name':'country'},inplace=True)

In [17]:
trail_df_clean.head()

,trail_id,trail_name,park_name,city,state,country,popularity,length,elevation_gain,difficulty_rating,route_type,visitor_usage,avg_rating,num_reviews,units,latitude,longitude
0,10020048,Harding Ice Field Trail,Kenai Fjords National Park,Seward,Alaska,United States,24.8931,15610.598,1161.8976,5,out and back,3.0,5.0,423,i,60.1885,-149.632
1,10236086,Mount Healy Overlook Trail,Denali National Park,Denali National Park,Alaska,United States,18.0311,6920.162,507.7968,3,out and back,1.0,4.5,260,i,63.7305,-148.92
2,10267857,Exit Glacier Trail,Kenai Fjords National Park,Seward,Alaska,United States,17.7821,2896.812,81.9912,1,out and back,3.0,4.5,224,i,60.1888,-149.631
3,10236076,Horseshoe Lake Trail,Denali National Park,Denali National Park,Alaska,United States,16.2674,3379.614,119.7864,1,loop,2.0,4.5,237,i,63.7366,-148.915
4,10236082,Triple Lakes Trail,Denali National Park,Denali National Park,Alaska,United States,12.5935,29772.790,1124.7120,5,out and back,1.0,4.5,110,i,63.7332,-148.897

In [18]:
activities_df['id'] = activities_df.index + 1
features_df['id'] = features_df.index +1

In [19]:
# # Create connection string to database
# connection_string = "postgres:postgres@localhost:5432/national_parks_db"
# engine = create_engine(f'postgresql://{connection_string}')

In [20]:
# # Load the database
# trail_df_clean.to_sql(name='park_trails', con=engine, if_exists='append', index=True)
# activities_df.to_sql(name='trail_activities', con=engine, if_exists='append', index=True)
# features_df.to_sql(name='trail_features', con=engine, if_exists='append', index=True)

In [48]:
activities_id = activities_df['trail_id'].unique().tolist()
features_id = activities_df['trail_id'].unique().tolist()
trail_id = trail_df_clean['trail_id'].tolist()
trail_id_orig = trail_df['trail_id'].tolist()

In [51]:
mismatch=[]
for trail in trail_id_orig:
    if trail in trail_id:
        next
    else:
        mismatch.append(trail)

In [52]:
mismatch

[10023165,
 10026822,
 10004435,
 10258648,
 10032774,
 10269962,
 10021291,
 10347292,
 10111287,
 10366335,
 10483525,
 10027530,
 10258345,
 10038340,
 10037327,
 10031458,
 10258337,
 10260286,
 10478156,
 10308382,
 10259608,
 10259589,
 10259651,
 10264714,
 10259543,
 10267195,
 10034193,
 10270274,
 10029817,
 10261263,
 10028861,
 10260246,
 10303635,
 10259682,
 10026953,
 10019022,
 10029957,
 10301523,
 10037317,
 10484544,
 10258332,
 10258334,
 10270271,
 10316154,
 10027732,
 10028862,
 10032078,
 10258349,
 10419777,
 10037386,
 10506284,
 10270272,
 10031643,
 10258329,
 10270273,
 10388810,
 10021733,
 10027721,
 10270279,
 10022580,
 10041493,
 10267055,
 10270249,
 10040302,
 10027722,
 10038496,
 10270254,
 10332210,
 10031446,
 10308381,
 10258344,
 10483854,
 10270286,
 10331143,
 10003613,
 10484490,
 10467435,
 10541145,
 10015941,
 10501331,
 10541171,
 10541099,
 10541084,
 10541116,
 10541144,
 10297828,
 10111780,
 10289369,
 10030657,
 10268030,
 10026706,
 10013322,
 10028379,
 10235811,
 10288992,
 10483902,
 10001960,
 10239051,
 10009887,
 10326635,
 10236040,
 10335093,
 10503810,
 10327225,
 10111550,
 10035361,
 10111232,
 10331078,
 10234750,
 10023428,
 10039481,
 10236062,
 10037956,
 10236098,
 10259004,
 10003185,
 10009723,
 10372065,
 10006085,
 10003143,
 10034098,
 10031960,
 10033012,
 10005155,
 10273117,
 10005832,
 10483794,
 10111323,
 10258640,
 10365352,
 10308922,
 10300214,
 10236356,
 10404669,
 10369466,
 10352958,
 10236044,
 10236045,
 10236046,
 10236048,
 10013161,
 10015976,
 10008619,
 10018051,
 10036805,
 10037873,
 10448920,
 10236061,
 10235562,
 10260022,
 10260510,
 10235153,
 10410103,
 10111520,
 10427717,
 10483779,
 10353016,
 10265023,
 10478750,
 10485694,
 10518971,
 10034817,
 10254742,
 10293517,
 10258757,
 10258769,
 10034105,
 10235777,
 10029430,
 10033858,
 10462754,
 10485189,
 10467434,
 10484425,
 10002386,
 10006479,
 10033693,
 10289947,
 10006823,
 10003789,
 10281571,
 10026459,
 10016442,
 10284134,
 10331293,
 10365613,
 10002017,
 10277784,
 10290360,
 10008454,
 10239500,
 10017463,
 10020359,
 10012190,
 10032618,
 10371803,
 10358756,
 10335061,
 10485567,
 10009983,
 10013576,
 10014805,
 10001279,
 10033261,
 10015096,
 10009920,
 10028811,
 10001924,
 10039945,
 10030059,
 10028805,
 10028832,
 10541134,
 10012888,
 10042537,
 10008221,
 10031744,
 10308866,
 10361588,
 10491932,
 10374240,
 10003705,
 10528939,
 10484495,
 10235757,
 10009180,
 10027455,
 10017591,
 10029730,
 10039529,
 10235847,
 10037996,
 10010076,
 10000759,
 10492355,
 10042942,
 10467172,
 10498105,
 10467170,
 10000266,
 10494968,
 10467163,
 10540286,
 10467160,
 10485144,
 10467167,
 10005198,
 10013779,
 10006534,
 10011933,
 10027795,
 10001208,
 10258707]

In [37]:
trail_id

[10020048,
 10236086,
 10267857,
 10236076,
 10236082,
 10241620,
 10236080,
 10236075,
 10236084,
 10327620,
 10265252,
 10333556,
 10265251,
 10393562,
 10262541,
 10358126,
 10236078,
 10343441,
 10333569,
 10347459,
 10302108,
 10333558,
 10513937,
 10333557,
 10302122,
 10265266,
 10302112,
 10302114,
 10187810,
 10016964,
 10237812,
 10245012,
 10265905,
 10266148,
 10094721,
 10026816,
 10235665,
 10266521,
 10016127,
 10034910,
 10337353,
 10013850,
 10031380,
 10304374,
 10236025,
 10013966,
 10004120,
 10006500,
 10259347,
 10041313,
 10244240,
 10111405,
 10286650,
 10031336,
 10031337,
 10304469,
 10273263,
 10000811,
 10009957,
 10006953,
 10297089,
 10040243,
 10242023,
 10255289,
 10258667,
 10236026,
 10257085,
 10236022,
 10018269,
 10265749,
 10315767,
 10023828,
 10112001,
 10042232,
 10365390,
 10267208,
 10293249,
 10258317,
 10002324,
 10274527,
 10009628,
 10009444,
 10251377,
 10042018,
 10331092,
 10002217,
 10041071,
 10236028,
 10259343,
 10306310,
 10039522,
 10304719,
 10111504,
 10246734,
 10281018,
 10038311,
 10258602,
 10011949,
 10298010,
 10302747,
 10259900,
 10235597,
 10311930,
 10013382,
 10236023,
 10111280,
 10258739,
 10023951,
 10270136,
 10287374,
 10272964,
 10035690,
 10258650,
 10258659,
 10258654,
 10315676,
 10259353,
 10039514,
 10013558,
 10013912,
 10272375,
 10269284,
 10259355,
 10013747,
 10259354,
 10112153,
 10389448,
 10016910,
 10267209,
 10259344,
 10266285,
 10297375,
 10013255,
 10269670,
 10384519,
 10263759,
 10017278,
 10268598,
 10235600,
 10398395,
 10235592,
 10306312,
 10259348,
 10258670,
 10272332,
 10041333,
 10004062,
 10018933,
 10037999,
 10299272,
 10111891,
 10039029,
 10263672,
 10378554,
 10327921,
 10304376,
 10272356,
 10311730,
 10028602,
 10272764,
 10307988,
 10379267,
 10272205,
 10028565,
 10313180,
 10265889,
 10236034,
 10347968,
 10258658,
 10022546,
 10267224,
 10006893,
 10009407,
 10259364,
 10014422,
 10269033,
 10348524,
 10268788,
 10268789,
 10259359,
 10272462,
 10261755,
 10394939,
 10007969,
 10453902,
 10286475,
 10314641,
 10421252,
 10427265,
 10258671,
 10456484,
 10545419,
 10041922,
 10235890,
 10264755,
 10264753,
 10039426,
 10007938,
 10267800,
 10017178,
 10235889,
 10354929,
 10264248,
 10291742,
 10307591,
 10308425,
 10367719,
 10308451,
 10026910,
 10005895,
 10005585,
 10026952,
 10011926,
 10027503,
 10010560,
 10031426,
 10033113,
 10276593,
 10011170,
 10235913,
 10026962,
 10028848,
 10031466,
 10006090,
 10031888,
 10235992,
 10235907,
 10027546,
 10035554,
 10028653,
 10033156,
 10031456,
 10002863,
 10003872,
 10010871,
 10013977,
 10019827,
 10235908,
 10037289,
 10034036,
 10004781,
 10031887,
 10012390,
 10235922,
 10006688,
 10293225,
 10298575,
 10274952,
 10023775,
 10014345,
 10033137,
 10013813,
 10040340,
 10259802,
 10235993,
 10026955,
 10028648,
 10236017,
 10235899,
 10236155,
 10261348,
 10026896,
 10242664,
 10037534,
 10036246,
 10029986,
 10032060,
 10029819,
 10035907,
 10031884,
 10007086,
 10041400,
 10111782,
 10004744,
 10033119,
 10027108,
 10034011,
 10028494,
 10026938,
 10026957,
 10258341,
 10252968,
 10235919,
 10111890,
 10034225,
 10235927,
 10027315,
 10027540,
 10031434,
 10033216,
 10036262,
 10032041,
 10243572,
 10011461,
 10006763,
 10016234,
 10235911,
 10013938,
 10273406,
 10039812,
 10259118,
 10236157,
 10031432,
 10260204,
 10259901,
 10037318,
 10027534,
 10026939,
 10031637,
 10034281,
 10259433,
 10136861,
 10015097,
 10008947,
 10291879,
 10414200,
 10035721,
 10026944,
 10037326,
 10269473,
 10028456,
 10294476,
 10022095,
 10294375,
 10022595,
 10034189,
 10013268,
 10381604,
 10260515,
 10018534,
 10017427,
 10016528,
 10036072,
 10279543,
 10235925,
 10009508,
 10236037,
 10031728,
 10008916,
 10112073,
 10028657,
 10015707,
 10036243,
 10461398,
 10235905,
 10031465,
 10027494,
 10021742,
 10026916,
 10002434,
 10235928,
 10258447,
 10257832,
 10257120,
 10305598,
 10035725,
 10007611,
 10259504,
 10007625,
 10026919,
 10259676,
 10035722,
 10029616,
 10270277,
 10026923,
 10033115,
 10280627,
 10002313,
 10005777,
 10026911,
 10035749,
 10304804,
 10038502,
 10026950,
 10037285,
 10236154,
 10028484,
 10268965,
 10284283,
 10287617,
 10026905,
 10018535,
 10026904,
 10261197,
 10031892,
 10233574,
 10027342,
 10036242,
 10271411,
 10111582,
 10282051,
 10034206,
 10298171,
 10017321,
 10026964,
 10028846,
 10282040,
 10021734,
 10041494,
 10032088,
 10041388,
 10266358,
 10024737,
 10015881,
 10026002,
 10304683,
 10269475,
 10032051,
 10291166,
 10034341,
 10261350,
 10359466,
 10266972,
 10016346,
 10292226,
 10263609,
 10027809,
 10019938,
 10040347,
 10288963,
 10260887,
 10034024,
 10028660,
 10005121,
 10235912,
 10027114,
 10021862,
 10266346,
 10005425,
 10027529,
 10027557,
 10288910,
 10253165,
 10042336,
 10027717,
 10243571,
 10042427,
 10041363,
 10252471,
 10028844,
 10032056,
 10031454,
 10236134,
 10259009,
 10261858,
 10270718,
 10271975,
 10040395,
 10036080,
 10038389,
 10039802,
 10014917,
 10024732,
 10268546,
 10262771,
 10035726,
 10034188,
 10018565,
 10264128,
 10290424,
 10003960,
 10037319,
 10031490,
 10284103,
 10029818,
 10273720,
 10028852,
 10267424,
 10299148,
 10350229,
 10025376,
 10006546,
 10027103,
 10352647,
 10307007,
 10035728,
 10111580,
 10290403,
 10292110,
 10032046,
 10257664,
 10002869,
 10003612,
 10031731,
 10305334,
 10029806,
 10035931,
 10036219,
 10027548,
 10007207,
 10039816,
 10299947,
 10263524,
 10011681,
 10038186,
 10362147,
 10032919,
 10296372,
 10304324,
 10033146,
 10028652,
 10036245,
 10008108,
 10392957,
 10235988,
 10311335,
 10267411,
 10295748,
 10034226,
 10290389,
 10234765,
 10273123,
 10312302,
 10010668,
 10269468,
 10210284,
 10290416,
 10027026,
 10260560,
 10238799,
 10311400,
 10264890,
 10026761,
 10294720,
 10290742,
 10111583,
 10035755,
 10259141,
 10271978,
 10009688,
 10262809,
 10264894,
 10263504,
 10032039,
 10024378,
 10236194,
 10236152,
 10029615,
 10272192,
 10313001,
 10029617,
 10111581,
 10027504,
 10257681,
 10269520,
 10253849,
 10269470,
 10034192,
 10468262,
 10027495,
 10040316,
 10236121,
 10272440,
 10028939,
 10033206,
 10311716,
 10312633,
 10310779,
 10037358,
 10041482,
 10331144,
 10020785,
 10288911,
 10029590,
 10307674,
 10027353,
 10290539,
 10273341,
 10001110,
 10267018,
 10032037,
 10301566,
 10326312,
 10314256,
 10259066,
 10269533,
 10289662,
 10257674,
 10266420,
 10291591,
 10029965,
 10259020,
 10292318,
 10018603,
 10025307,
 10364031,
 10004912,
 10021822,
 10265884,
 10259119,
 10269462,
 10292701,
 10345361,
 10253027,
 10259017,
 10259104,
 10036285,
 10271302,
 10019019,
 10320433,
 10038352,
 10299877,
 10354077,
 10019002,
 10259018,
 10024435,
 10257677,
 10270309,
 10023041,
 10350206,
 10301041,
 10315482,
 10036254,
 10036469,
 10314258,
 10292546,
 10028692,
 10036280,
 10035897,
 10027127,
 10264117,
 10273332,
 10027528,
 10400843,
 10290290,
 10328718,
 10035738,
 10258857,
 10258333,
 10369329,
 10401083,
 10041359,
 10019814,
 10253339,
 10265927,
 10268367,
 10027567,
 10029823,
 10264663,
 10333949,
 10264665,
 10314574,
 10031264,
 10407847,
 10270224,
 10112030,
 10313394,
 10236122,
 10319722,
 10263526,
 10405507,
 10042158,
 10257650,
 10252780,
 10031504,
 10359192,
 10309528,
 10273340,
 10037283,
 10322676,
 10258641,
 10027101,
 10039656,
 10040336,
 10273345,
 10368984,
 10323769,
 10026766,
 10393687,
 10034166,
 10033201,
 10335590,
 10020789,
 10302879,
 10269471,
 10236132,
 10039961,
 10345726,
 10310470,
 10313020,
 10313072,
 10454609,
 10348128,
 10318368,
 10270059,
 10342905,
 10364030,
 10036294,
 10236138,
 10033164,
 10350195,
 10414982,
 10320138,
 10305513,
 10315406,
 10358333,
 10316793,
 10311983,
 10257654,
 10006900,
 10016753,
 10034008,
 10259114,
 10259147,
 10037321,
 10271700,
 10026970,
 10273342,
 10259115,
 10467877,
 10400638,
 10312298,
 10269763,
 10272277,
 10312628,
 10267412,
 10264670,
 10270902,
 10334875,
 10302606,
 10031729,
 10013404,
 10271175,
 10027507,
 10369327,
 10259022,
 10478855,
 10309880,
 10300210,
 10035715,
 10252779,
 10035754,
 10263522,
 10355861,
 10336696,
 10257651,
 10038503,
 10356648,
 10020646,
 10343125,
 10257620,
 10033123,
 10111638,
 10259013,
 10273218,
 10262825,
 10304145,
 10269469,
 10263616,
 10319970,
 10027515,
 10032086,
 10027565,
 10269463,
 10268353,
 10400643,
 10311964,
 10038390,
 10266321,
 10264127,
 10262823,
 10312153,
 10002139,
 10420957,
 10294566,
 10269474,
 10371837,
 10037320,
 10264130,
 10291229,
 10418330,
 10259085,
 10528381,
 10344453,
 10264672,
 10341188,
 10336074,
 10320139,
 10314387,
 10299404,
 10478797,
 10269467,
 10022053,
 10264120,
 10396556,
 10018608,
 10264122,
 10396557,
 10315438,
 10259106,
 10472836,
 10269465,
 10042325,
 10257652,
 10388993,
 10040394,
 10293872,
 10335544,
 10257653,
 10003914,
 10257658,
 10257676,
 10336695,
 10372809,
 10327774,
 10517641,
 10462912,
 10111637,
 10261704,
 10351113,
 10257657,
 10310060,
 10369012,
 10480470,
 10327394,
 10290223,
 10259149,
 10316147,
 10297082,
 10258330,
 10484535,
 10039797,
 10383306,
 10483742,
 10420666,
 10523443,
 10428358,
 10257656,
 10485496,
 10527706,
 10522184,
 10540716,
 10527108,
 10497238,
 10458560,
 10483879,
 10461840,
 10258991,
 10540136,
 10541335,
 10545116,
 10026705,
 10235688,
 10008208,
 10012319,
 10031204,
 10026711,
 10264164,
 10238357,
 10235698,
 10035513,
 10010318,
 10041185,
 10031203,
 10043053,
 10249728,
 10112141,
 10028391,
 10238728,
 10235677,
 10235706,
 10030658,
 10011242,
 10026708,
 10035508,
 10111552,
 10003209,
 10037044,
 10028402,
 10235697,
 10041193,
 10235739,
 10235712,
 10003950,
 10235699,
 10317586,
 10041187,
 10026713,
 10038099,
 10292656,
 10026702,
 10012254,
 10291251,
 10033941,
 10235681,
 10033876,
 10235802,
 10002801,
 10363771,
 10001492,
 10293112,
 10005393,
 10293307,
 10258578,
 10235741,
 10030593,
 10320915,
 10272716,
 10000412,
 10010458,
 10106086,
 10289358,
 10235810,
 10248248,
 10296119,
 10263499,
 10264059,
 10290799,
 10033934,
 10031845,
 10235769,
 10284205,
 10267490,
 10033889,
 10259076,
 10018356,
 10031830,
 10293115,
 10271463,
 10235788,
 10249822,
 10299305,
 10007866,
 10277364,
 10274329,
 10250371,
 10030653,
 10038088,
 10241603,
 10013526,
 10002585,
 10255921,
 10270326,
 10008051,
 10236189,
 10248242,
 10017559,
 10254185,
 10258922,
 10018316,
 10258930,
 10258323,
 10008056,
 10239321,
 10279359,
 10240894,
 10235711,
 10263386,
 10263389,
 10275682,
 10272876,
 10265217,
 10264634,
 10236182,
 10265442,
 10002501,
 10266708,
 10344418,
 10017560,
 10289234,
 10314923,
 10028396,
 10002944,
 10038098,
 10236179,
 10039066,
 10264641,
 10031837,
 10274038,
 10267446,
 10264716,
 10236038,
 10266319,
 10006227,
 10235791,
 10269076,
 10030655,
 10263500,
 10281307,
 10258580,
 10293283,
 10028436,
 10273673,
 10236186,
 10306840,
 10236039,
 10295603,
 10004128,
 10013832,
 10290912,
 10302787,
 10236176,
 10000730,
 10005709,
 10348232,
 10007989,
 10255924,
 10012441,
 10263505,
 10310851,
 ...]